/* Error: $color: var(--color-gray-300) is not a color.
 *     ,
 * 160 |       background: darken($thumb-color, 10%);
 *     |                   ^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   wwwroot\scss\abstracts\_mixins.scss 160:19  custom-scrollbar()
 *   wwwroot\scss\layout\_header.scss 97:5       @import
 *   wwwroot\scss\main.scss 16:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: var(--color-gray-300) is not a color.\a     \2577 \a 160 \2502        background: darken($thumb-color, 10%);\d\a     \2502                    ^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   wwwroot\\scss\\abstracts\\_mixins.scss 160:19  custom-scrollbar()\a   wwwroot\\scss\\layout\\_header.scss 97:5       @import\a   wwwroot\\scss\\main.scss 16:9                 root stylesheet";
}
